.nav {
  margin: 3rem 0 9rem 0;
}

.nav .nav_menu {
  display: flex;
  align-items: center;
}

.nav .nav_menu .nav_menu-bar li {
  margin: 0 0 0 3rem;
}

.nav .nav_menu .nav_menu-bar li a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #07043b;
  text-decoration: none;
  /* display: flex;
    align-items: center;
    text-align: center; */
}

.hero .hero_content h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 60px;
  /* or 150% */

  color: #07043b;
}

.text1 {
  margin-top: 4rem;
}

.hero .hero_content p {
  margin: 3rem 0 0 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 141% */

  letter-spacing: 0.53125px;

  color: #07043b;
}

.hero .hero_content .hero_content-btns {
  display: flex;
  align-items: center;
  margin: 3rem 0 0 0;
}

.hero .hero_content .hero_content-btns button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  color: #fff;
  width: 140px;
  height: 45px;
  border: 2px solid #2f65f8;
  background: #2f65f8;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  margin-top: 25px;
  cursor: pointer;
}

.hero .hero_content .hero_content-btns input {
  padding-left: 1rem;
  margin-top: 25px;
  margin-right: 16px;
  border: none;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  width: 320px;
  height: 45px;
  outline: none;
}

.productive .productive_backgroud {
  background-image: url("../image/Rectangle_backgroud.png");
  background-repeat: no-repeat;
  background-position: top;
  /* background-size: cover; */
  box-sizing: border-box;
  margin-top: 108px;
  padding: 12rem 0 0 0;

  min-height: 855.37px;
}

/* .productive_backgroud .productive_image {
  margin: 14rem 3rem 0 0;
} */

.productive_backgroud .productive_content h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #07043b;
}

.productive_backgroud .productive_content p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #07043b;
}
.text2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.productive_backgroud .productive_content .productive_btns {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.productive_backgroud .productive_content a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #3da08f;
  text-decoration: none;
}

.productive_backgroud .productive_content .productive_btns i {
  color: #3da08f;
  font-size: 10px;
}

.letter {
  width: 356px;
  height: 215px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
  border-radius: 5px;
  float: left;
}

.productive_content .letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 2rem 0 2rem;
  box-sizing: border-box;
}

.productive_content .letter p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  /* or 177% */
  letter-spacing: 0.5px;
  color: #07043b;
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.letter .user .user_content h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.55px;
  color: #07043b;
}

.letter .user .user_content p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 15px;
  /* identical to box height, or 188% */

  letter-spacing: 0.4px;

  color: #07043b;
}

/* ========= FOOTER START ========= */

.footer .footer_cta {
  background-image: url("../image/footer_cta.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 369.71px;
  padding-top: 6rem;
  box-sizing: border-box;
  position: relative;
  top: -3rem;
}

.footer_cta .footer_cta_content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 2rem;
}

.footer_cta .footer_cta_content h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  color: #ffffff;
}

.footer_cta .footer_cta_content p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.5px;
  color: #ffffff;
}

.footer_cta .footer_cta_btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.footer_cta .footer_cta_btns input {
  padding-left: 1rem;

  border: none;
  background: #ffffff;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 3.125px;
  width: 480px;
  height: 48px;
  margin-top: 2rem;
  outline: none;
}

.footer_cta .footer_cta_btns button {
  border: 2px solid #2f65f8;
  background: #2f65f8;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 3.125px;
  width: 200px;
  height: 48px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

/* ========= FOOTER END ========= */

.sector_footer {
  background-image: url("../image/footer_backgroud.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 391px;
  position: relative;
  top: -3rem;
}

.footer_content {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer_menu {
  display: flex;
  justify-content: start;
  gap: 14rem;
}

.footer_menu i {
  color: #ffffff;
}

.footer_menu a {
  text-decoration: none;
}

.footer_menu .contacts .phone_number i {
  transform: rotate(-45deg);
}

.footer_menu .contacts a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #ffffff;
}

.footer_menu ul li {
  margin-bottom: 1rem;
}

.footer_menu ul li a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #ffffff;
}

.footer_menu .social_networks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer_menu .social_networks div a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  border: 0.918357px solid #dfe4f0;
  border-radius: 50%;
}
